## Preprocessing

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN', 'NAME'])

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [25]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [26]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[
    application_df['APPLICATION_TYPE'].value_counts() < cutoff_value
    ].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [27]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [28]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[
    application_df['CLASSIFICATION'].value_counts() >1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [29]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 50
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[
    application_df['CLASSIFICATION'].value_counts() < cutoff_value
    ].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

I picked 50 as the cutoff point to strike a good balance between maintaining meaningful categories but also avoiding unnecessary noise. The first three categories (C1000, C2000, C1200) dominate these values. I considered a larger cutoff point for even fewer categories, but wanted to keep more categories help with later model precision. Testing will help verify some of my assumptions here. Perhaps this will have to be changed later while tuning the model.

In [30]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [31]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df[
    ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT']
    ])

In [32]:
# Drop the categorical columns
application_df = application_df.drop(columns= ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT'])

In [33]:
# Strip whitespace from 'SPECIAL_CONSIDERATIONS'
application_df['SPECIAL_CONSIDERATIONS'] = application_df['SPECIAL_CONSIDERATIONS'].str.strip()

# Map the 'SPECIAL_CONSIDERATIONS' column to numeric binary (1/0 instead of Y/N)
application_df['SPECIAL_CONSIDERATIONS'] = application_df['SPECIAL_CONSIDERATIONS'].map({'Y':1, 'N':0})

Whitespace stripped above, previous attempts at mapping the column resulted in NaN results. There may be unseen whitespace in the column. The `.strip()` fixed this problem.

In [34]:
# Concatenate the dummies with the dataframe
transformed_application_df = pd.concat([application_df, application_dummies], axis=1)

# Display
transformed_application_df

,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,0,5000,1,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,1,0,108590,1,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,False,False
2,1,0,5000,0,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
3,1,0,6692,1,False,False,False,True,False,False,...,True,False,False,True,False,False,False,False,False,False
4,1,0,142590,1,False,False,False,True,False,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,0,5000,0,False,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,False
34295,1,0,5000,0,False,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,False
34296,1,0,5000,0,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
34297,1,0,5000,1,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
34298,1,0,36500179,0,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False

In [ ]:
# Split our preprocessed data into our features and target arrays
X = transformed_application_df.drop('IS_SUCCESSFUL', axis=1)
y = transformed_application_df['IS_SUCCESSFUL']

In [40]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [41]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [43]:
# Find the number of features using shape
number_of_features = X.shape[1]
print(f"# of features: {number_of_features}")

# of features: 52

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer, make sure to add # of features to `input_dim` parameter
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=52))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

c:\Users\nbart.DESKTOP-3OF7M8N\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 16)             │           848 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 16)             │           272 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,137 (4.44 KB)

 Trainable params: 1,137 (4.44 KB)

 Non-trainable params: 0 (0.00 B)

In [45]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 864us/step - accuracy: 0.6737 - loss: 0.6248
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7291 - loss: 0.5559
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 823us/step - accuracy: 0.7321 - loss: 0.5500
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.7287 - loss: 0.5540
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 793us/step - accuracy: 0.7310 - loss: 0.5492
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 806us/step - accuracy: 0.7352 - loss: 0.5444
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 821us/step - accuracy: 0.7311 - loss: 0.5484
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 794us/step - accuracy: 0.7332 - loss: 0.5468
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 839us/step - accuracy: 0.7344 - loss: 0.5444
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 796us/step - accuracy: 0.7358 - loss: 0.5422
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 857us/step - accuracy: 0.7369 - loss: 0.5410
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.7348 - loss: 0.5456
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 845us/step - accuracy: 0.7346 - loss: 0.5432
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 796us/step - accuracy: 0.7360 - loss: 0.5404
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.7408 - loss: 0.5374
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 800us/step - accuracy: 0.7356 - loss: 0.5439
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7365 - loss: 0.5418
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7363 - loss: 0.5429
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 929us/step - accuracy: 0.7360 - loss: 0.5428
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 964us/step - accuracy: 0.7340 - loss: 0.5438
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.7445 - loss: 0.5330
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 806us/step - accuracy: 0.7422 - loss: 0.5350
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 853us/step - accuracy: 0.7367 - loss: 0.5381
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 840us/step - accuracy: 0.7409 - loss: 0.5369
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 825us/step - accuracy: 0.7409 - loss: 0.5352
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 819us/step - accuracy: 0.7337 - loss: 0.5421
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7384 - loss: 0.5398
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7382 - loss: 0.5386
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 800us/step - accuracy: 0.7326 - loss: 0.5445
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 856us/step - accuracy: 0.7423 - loss: 0.5329
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.7343 - loss: 0.5402
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7383 - loss: 0.5393
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 829us/step - accuracy: 0.7361 - loss: 0.5394
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.7369 - loss: 0.5420
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 856us/step - accuracy: 0.7437 - loss: 0.5315
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7419 - loss: 0.5347
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 979us/step - accuracy: 0.7438 - loss: 0.5320
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.7428 - loss: 0.5361
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7353 - loss: 0.5364
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 900us/step - accuracy: 0.7399 - loss: 0.5381
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7377 - loss: 0.5376
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7341 - loss: 0.5425
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 841us/step - accuracy: 0.7384 - loss: 0.5368
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7440 - loss: 0.5322
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 851us/step - accuracy: 0.7436 - loss: 0.5315
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 822us/step - accuracy: 0.7392 - loss: 0.5372
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7406 - loss: 0.5333
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 806us/step - accuracy: 0.7352 - loss: 0.5422
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.7414 - loss: 0.5348
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 862us/step - accuracy: 0.7356 - loss: 0.5370
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 802us/step - accuracy: 0.7417 - loss: 0.5352
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 853us/step - accuracy: 0.7376 - loss: 0.5349
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 804us/step - accuracy: 0.7408 - loss: 0.5381
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.7437 - loss: 0.5320
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 818us/step - accuracy: 0.7377 - loss: 0.5357
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 844us/step - accuracy: 0.7451 - loss: 0.5308
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 930us/step - accuracy: 0.7378 - loss: 0.5371
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.7391 - loss: 0.5364
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7425 - loss: 0.5339
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.7421 - loss: 0.5347
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7433 - loss: 0.5298
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7472 - loss: 0.5296
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 980us/step - accuracy: 0.7411 - loss: 0.5315
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 841us/step - accuracy: 0.7395 - loss: 0.5336
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.7390 - loss: 0.5380
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.7421 - loss: 0.5326
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 953us/step - accuracy: 0.7367 - loss: 0.5404
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.7364 - loss: 0.5371
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7385 - loss: 0.5332
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.7401 - loss: 0.5345
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 983us/step - accuracy: 0.7428 - loss: 0.5316
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7474 - loss: 0.5297
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 984us/step - accuracy: 0.7446 - loss: 0.5301
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.7465 - loss: 0.5285
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.7428 - loss: 0.5321
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 887us/step - accuracy: 0.7405 - loss: 0.5325
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.7409 - loss: 0.5357
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 821us/step - accuracy: 0.7414 - loss: 0.5330
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 985us/step - accuracy: 0.7441 - loss: 0.5321
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7402 - loss: 0.5352
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 971us/step - accuracy: 0.7412 - loss: 0.5324
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 919us/step - accuracy: 0.7389 - loss: 0.5354
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.7460 - loss: 0.5325
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7388 - loss: 0.5366
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 953us/step - accuracy: 0.7436 - loss: 0.5328
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 851us/step - accuracy: 0.7384 - loss: 0.5344
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 900us/step - accuracy: 0.7438 - loss: 0.5320
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 846us/step - accuracy: 0.7429 - loss: 0.5320
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7423 - loss: 0.5351
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 958us/step - accuracy: 0.7377 - loss: 0.5370
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7453 - loss: 0.5293
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 999us/step - accuracy: 0.7423 - loss: 0.5301
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7374 - loss: 0.5348
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7375 - loss: 0.5366
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7456 - loss: 0.5294
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 879us/step - accuracy: 0.7428 - loss: 0.5330
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 817us/step - accuracy: 0.7422 - loss: 0.5328
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.7440 - loss: 0.5281
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.7399 - loss: 0.5331
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7470 - loss: 0.5249

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7251 - loss: 0.5542
Loss: 0.5542044639587402, Accuracy: 0.7251312136650085

In [49]:
# Export our model to HDF5 file
nn_model.save('Output/AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.